{% extends 'layouts/base.html.twig' %}
{% block title 'test' %}
{% block body %}
    {% for adhesion in adhesion %}
        <p>Id Adhésion : {{adhesion.id}}</p>
        <p>Prénom : {{adhesion.adherent.firstName}}</p>
        <p>Nom : {{adhesion.adherent.lastName}}</p>
        <p>Id Adhérent : {{adhesion.adherent.id}}</p>
        <p><a href="{{ path('app_adhesions_show', {id: adhesion.id}) }}" class="btn btn-secondary btn-sm mx-auto">Détails adhésion</a></p>
        <p><a href="{{ path('app_adhesions_show', {id: adhesion.adherent.id}) }}" class="btn btn-secondary btn-sm mx-auto">Détails adhérent</a></p>
    {% endfor %}
{% endblock %}