  <nav class="navbar navbar-expand-md navbar-dark bg-dark ps-5 pe-5" aria-label="Fourth navbar example">

    <div class="container-fluid ms-5">

      <div>
        <a href="{{ path('app_home') }}">
          <img src="{{ asset('build/images/patte.png') }}" alt="" style="width: 40px; height: 40px;">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExample04">
        <ul class="navbar-nav me-5">

      {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_adherents') }}">Liste des Adhérents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_adherents_create') }}">Créer un Adhérent</a>
          </li>
          <li class="nav-item">
          {# <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Déconnexion</a> #}
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>

          {# <form id="js-logout-form" action="{{ path('app_logout') }}" style="display: none;" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
          </form> #}
          
      {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
          </li>
      {% endif %}
        </ul>
      </div>
    </div>
  </nav>
            
      

