{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="container my-5">

        <div class="row justify-content-center">
            <h2>{{ pluralize(adherent|length, 'Adhérent', 'Adhérents') }}</h2>

            <div class="table-responsive mt-5" style="overflow: auto; height:600px">
                <table class="table table-bordered table-fixed table-striped" id="dataTable">

                    <thead class="text-light text-center" style="position: sticky; top: 0; background-color: var(--bs-gray-800);">
                        <tr>
                            <th style="position: sticky; top:0;">Identifiant</th>
                            <th style="position: sticky; top:0;">Prénom</th>
                            <th style="position: sticky; top:0;">Nom</th>
                            <th style="position: sticky; top:0;">Téléphone</th>
                            <th style="position: sticky; top:0;">Adresse e-mail</th>
                            <th style="position: sticky; top:0;">Fin d 'adhésion</th>
                            <th style="position: sticky; top:0;">Actions</th>
                        </tr>
                    </thead>

                    <tbody class="text-center">
                        {% for adherent in adherent %}

                        {# {% if adherent.derniere_adhesion is empty %}
                        <p>OOooO</p>
                        {% endif %} #}
                                    
                            <tr class="table-striped">
                                <td>{{ adherent.id }}</td>
                                <td>{{ adherent.first_name }}</td>
                                <td>{{ adherent.last_name }}</td>
                                <td>{{ adherent.tel|u.wordwrap(2, " ", 1) }}</td>
                                <td>{{ adherent.email }}</td>
                                {% if adherent.derniere_adhesion is empty %}
                                <td></td>
                                {% else %}
                                <td>{{ adherent.derniere_adhesion|format_datetime('long', 'none', locale='fr') }}</td>
                                {% endif %}
                                    
                                <td>
                                    <a href="{{ path('app_adherents_show', {id: adherent.id}) }}" class="btn btn-secondary btn-sm mx-auto">Détails</a>
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>

            {# <div class="row justify-content-center">
                <p><a class="btn btn-secondary" href="{{ path('app_adherents_create') }}">Ajouter un adhérent</a></p>
            </div> #}
        </div>
    </div>

{% endblock %}